.div-img{
    width: 40px;
    border: 2px solid yellow;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.8s;
    cursor: pointer;
    margin: 0 3px;
}
.div-img:hover{
    filter: saturate(100%);
    width: 100%;
}