
body {
    background-color: #1E1E1E;
    color: #FFFFFF; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}



*{
    margin: 8px;
    padding: 8px;
    box-sizing: border-box;
}


.login-container{
    width: 100%;
    max-width: 1000px;
    padding: 1rem;


}

.login-card{
    background-color: aliceblue;
    display: flex;
    border-radius: 100px;
    box-shadow: 0 20px 100px;
    flex-direction: column;
}

